@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Contact Information</h2>
<h3>
  Name: <span>@Model.GetName()</span>
</h3>
<h3>
  Phone: <span>@Model.GetPhone()</span>
</h3>
<h3>
  Address: <span>@Model.GetAddress()</span>
</h3>
<div class="homepage">
  <h4><a href="/">Back to Home Page</a></h4>
</div>
