@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Enter your name, phone number, and address</h2>

<form action="/contact/new" method="post" id="contact-form">
  <div class="form-group">
    <label for="name">Name:
    <input type="text" name="name" id="name"></label>
  </div>
  <div class="form-group">
    <label for="phone">Phone:
    <input type="text" name="phone" id="phone"></label>
  </div>
  <div class="form-group address">
    <label for="address">Address:
    <input type="text" name="address" id="address"></label>
  </div>

  <button type="submit" class="btn add-btn">Add</button>
</form>
