@{
  Layout="Shared/_Layout.cshtml";
}
sdf
<div>
  <ul>
    @foreach (var contact in Model)
    {
      <li><a href="contact/@contact.GetId()">@contact.GetName()</a></li>
    }
  </ul>
</div>

<a href="/contact/form">Add a new contact</a>
<form action="/contacts/clear" method="post">
  <button type="submit" class="btn">Clear All</button>
</form>
