@{
  Layout="Shared/_Layout.cshtml";
}

<div class="buttons">
  <form action="/contact/form">
    <button type="submit" class="btn">Add New</button>
  </form>

  <form action="/contacts/clear" method="post">
    <button type="submit" class="btn">Clear All</button>
  </form>
</div>

<div class="contacts">
  <ul>
    @foreach (var contact in Model)
    {
      <li><a href="contact/@contact.GetId()">@contact.GetName()</a></li>
    }
  </ul>
</div>
