<h1>Contacts</h1>
<ul>
  @foreach (var contact in Model)
  {
    <li><a href="contact/@contact.GetId()">@contact.GetName()</a></li>
  }
</ul>

<a href="/contact/form">Add a new contact</a>
<form action="/contacts/clear" method="post">
  <button type="submit">Clear All</button>
</form>
