@{
  Layout="Shared/_Layout.cshtml";
}
<h1>Address Book</h1>
<h1>"You created a contact!"</h1>
<p>
  Name: @Model.GetName()
</p>
<p>
  Phone: @Model.GetPhone()
</p>
<p>
  Address:@Model.GetAddress()
</p>
<a href="/">Go to Home</a>
