div#header {
  padding:50px;
}

#header h1 {
  font-size: 60px;
  color: #e8e9ea;
}

div.container {
  background-color: #2a6496;
  padding: 30px;
}

div.main-body {
  background-color: white;
  position: relative;
  float: left;
  padding: 30px;
  width: 100%;
}

div.buttons {
  float: left;
  margin-left: 5px;
  margin-bottom: 27px;
}

form {
  float: left;
  margin-right: 10px;
}

div.contacts {
  clear: left;
  margin-top: 20px;
  margin-left: -20px;
  padding: 10px;
}

div.contacts a {
  font-size: 35px;
  text-decoration: none;
}
