div#header {
  padding:50px;
}

#header h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
}

div.container {
  background-color: #2a6496;
  padding: 30px;
}

div.main-body {
  background-color: white;
  position: relative;
  float: left;
  padding: 30px;
  width: 100%;
}

form.buttons {
  float: left;
  margin-left: 5px;
  margin-bottom: 27px;
}

div#contact-form {
  float: left;
  margin-right: 10px;
  height: 200px;
}

label {
  font-size: 20px;
}

div.contacts {
  clear: left;
  margin-top: 20px;
  margin-left: -20px;
  padding: 10px;
}

div.contacts a {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

h2 {
  padding-bottom: 30px;
}

span {
  font-weight: bold;
}
a {
  margin-top: 10px;
}

div.address {
  padding-bottom: 20px;
}

div.homepage {
  padding-top: 20px;
}
